*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --blue-color:rgb(12, 145, 207);
}
span{
    color: var(--blue-color);
}
body{
    margin: 0;
}
header{
    display: flex;
    background-color: rgb(238, 237, 237);
    box-shadow: rgb(129, 127, 127) 3px 0px 8px;
}
nav{
    width: 100%;
}
ul{
    display: flex;
    justify-content: space-evenly;   
}
li{
    list-style: none;  
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom:2px solid var(--blue-color);
}
.logo-area{
    flex-grow: 2;
    display: flex;
    align-items: center;
    padding:0;
    font-size: 1.5rem;
    padding-left: 6.6rem;  
}
.nav-area{
    flex-grow:3;
    display: flex;
    align-items: center;
    justify-content: center;   
}
div.body{
    height: 80vh;
    
    gap: 1rem;
    display: flex;
    
}
.right_body{
    padding: -2rem;
    padding-right: 1rem;
    width: 50vw;
    height: 100%;
}
img{
    width: 70%;
    height: 100%;
}
.left_body{
    width: 50vw;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:5rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.left_body>div:first-of-type{
    color:var(--blue-color);
    width: 100%;
    
}
.left_body>div:nth-child(2){
    font-size: 3rem;
    font-weight:1000;
    width: 100%;
    height: 9.8rem;
    padding-top: 1.5rem;
    margin-bottom: 0.9rem;
    
    
}
.left_body>div:nth-child(3){
    display: flex;
    gap: 1.5rem;
    width: 100%;
}
.body_buttons>div:nth-child(2),.body_buttons>div:nth-child(1){
    width: 8.9rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body_buttons>div:nth-child(1){
    color: #fff;
    background-color: var(--blue-color);
    outline:2px solid var(--blue-color);
    outline-offset: -2px;
    transition: all ease-in-out 150ms;
}
.body_buttons>div:nth-child(2){
    outline: 2px solid var(--blue-color);
    outline-offset: -2px;
    transition: all ease-in-out 150ms;
    color: var(--blue-color);
}
.body_buttons>div:nth-child(1):hover{
    background-color:#fff;
    outline: 2px solid var(--blue-color);
    outline-offset: -2px;
    color:black;
}
.body_buttons>div:nth-child(2):hover{
    background-color: var(--blue-color);
    color: #fff;
}
.body_buttons>div:nth-child(2):active,.body_buttons>div:nth-child(1):active{
    outline: 2px solid var(--blue-color);
    outline-offset: 3px;
}
.footer{
    color: #fff;
    display: flex;
    
    /* font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    text-align: center; */
    background-color:var(--blue-color);
    
    
}
.footer>.left_side{
    display: flex;
    gap: 3rem;
    width: 75rem;
    padding: 0.3rem;
}

.steps{
    width:34%;
    font-size: 1.1rem;
    font-weight: 600;
}
.steps:hover{
    color: black;
    outline:3px #fff double;
    outline-offset: 10px;
   
}
.steps>div{
    font-size:0.95rem;
    font-weight: normal;
    font-style: italic;
}
.footer>.right_side{
    display: flex;
    width: 25rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    

}
.footer>.right_side>div{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 30rem;
    border: #fff solid 0.15rem;
    
}
.footer>.right_side>div:hover{
    border: black solid 0.15rem;
    color: black;
}
.footer>.right_side>div:active{
    border:#fff solid 0.15rem;
    color: #fff;
}
